<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pokemon.name %>
</p>

<p>
  <b>Health:</b>
  <%= @pokemon.health %>
</p>

<p>
  <b>Energy:</b>
  <%= @pokemon.energy %>
</p>

<p>
  <b>Type:</b>
  <%= @pokemon.poketype %>
</p>

<p>
  <b>Color:</b>
  <%= @pokemon.color %>
</p>


<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
